<html>
<!-- <body class="<%=params[:template]%>"> -->
<body background="https://i.ytimg.com/vi/ZcfSaKeuPWc/maxresdefault.jpg">
<h2>Quedan invitados por <%=params[:personaresponsable]%> a ... </h2>
<h1><%=params[:nombreevento]%></h1>
<h3>(<%=params[:informaciongeneral]%>)</h3>
<h2> ... que tendrá lugar en <%=params[:donde]%> el día <%=params[:cuando]%>.</h2>

<h1>¡No faltes!</h1>
</body>
</html>
